*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #111;
}

h1,h3{
    font-weight: 400;
}

.weather-app{
    min-height: 100vh;
    background-image: url(./images/day/day.jpeg);
    background-size: cover;
    
}